html,body{
	font-family: Arial;
	margin: 0px

}

header{
	background-color: #660066;
	padding: 40px;
	text-align: center;


}
h1{
	font-size: 90px;
	color: white;

}
header img{
	border-radius: 174px;
	width: 300px;
	border: 24px solid #99ccff;
}

.content{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;

}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;

}

ul{
	list-style: none;
	padding: 0;
	margin: 0;

}

a{
	color: purple;
	text-decoration: none;

}

a:hover{ 
	background-color: purple;
}

footer{

	margin-top: 20px;
	padding: 40px 20px;
	background-color: #ebccff;
}

footer ul{
	text-align: center;

}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}

/*<header>
	<img src="img/profile.jpg">
	<h1>Rapunzel</h1>
</header>/*